    <li id="commons-permissions-link" role="menuitem"><span><a href="javascript:;">{{tr 'commons' 'permissions'}}</a></span></li>
<<<<<<< HEAD
    <li id="commons-stickers-link" role="menuitem"><span><a href="javascript:;">{{tr 'commons' 'stickers'}}</a></span></li>
=======
>>>>>>> 0213dfcbdea72281fc32a31e69d41e2a1787e4cb
