<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="customer-html" xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head >
<title>Customer</title>
<link rsf:id="scr=portal-matter" href="https://vula.uct.ac.za/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link href="https://vula.uct.ac.za/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" rsf:id="scr=portal-matter" />
<script  rsf:id="scr=portal-matter" type="text/javascript" src="/library/js/headscripts.js"></script>
<script type="text/javascript">includeLatestJQuery('glossary');</script>
<script type="text/javascript">includeWebjarLibrary('jquery.tablesorter');</script>
<script type="text/javascript" src="../js/glossary.js"></script>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody">
	
<h3 rsf:id="customer-title">Data Produk</h3>

<table id="sortableTable" class="listHier lines nolines table table-responsive table-bordered table-striped table-hover" border="0" cellspacing="0">
  <thead>
    <tr>
      <!--<th><a rsf:id="no-title" title="Sort by Question" href="#">No</a></th>-->
      <th><a rsf:id="kodeCustomer-title" title="Sort by Question" href="#">Kode Produk</a></th>
      <th><a rsf:id="namaCustomer-title" title="Sort by Question" href="#">Jenis Produk</a></th>
      <th><a rsf:id="alamatCustomer-title" title=" Sort by Opening Date" href="#">Nama Produk</a></th>
      <th><a rsf:id="noHpCustomer-title" title=" Sort by Opening Date" href="#">Harga Produk</a></th>
    </tr>
  </thead>
<!--  <tbody id="tasks:dosenlist:tbody_element">

    <tr rsf:id="dosen-row:">
      <td rsf:id="dosenList-kd">001</td>
      <td rsf:id="dosenList-nama">dosen 1</td>
      <td rsf:id="dosenList-matkul">matkul 1</td>
    </tr>
      
  </tbody>-->
</table>

</div>
</body>
</html>