<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="listDosen-html" xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head >
<title>List Fucking Dosen</title>
<link rsf:id="scr=portal-matter" href="https://vula.uct.ac.za/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link href="https://vula.uct.ac.za/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" rsf:id="scr=portal-matter" />
<script  rsf:id="scr=portal-matter" type="text/javascript" src="/library/js/headscripts.js"></script>
<script type="text/javascript">includeLatestJQuery('glossary');</script>
<script type="text/javascript">includeWebjarLibrary('jquery.tablesorter');</script>
<script type="text/javascript" src="../js/glossary.js"></script>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody">

<ul rsf:id="actions:" class="navIntraTool">
  <li><span><a href="voteAdd.html" rsf:id="actions-add">Add</a></span></li>
  <li><span><a href="votePermissions.html" rsf:id="actions-permissions">Permissions</a></span></li>
  <!--modif-->
  <!--<li><span><a href="mahasiswaInput.html" rsf:id="actions-mahasiswa">Mahasiswa</a></span></li>--> 
  <li><span><a href="listDosen.html" rsf:id="actions-listDosen">List Dosen</a></span></li> 
  <!--<li><span><a href="mahasiswaInput.html" rsf:id="actions-mahasiswa">Mahasiswa</a></span></li>--> 
</ul>

	
<h3 rsf:id="listDosen-title">Fucking Dosen</h3>


<!--<div rsf:id="message-for:*" class="alertMessage">
	<span>Message for user here</span>
</div>-->
<!--<div class="instruction" rsf:id="no-glossary">No glossary have been created yet.</div>-->

<form rsf:id="listDosen-form">
    <div class="form-group row">
    	<label for="rombel-selection" class="col-md-4 col-lg-2 form-control-label">
                    <span rsf:id="msg=rombel">rombel</span>
        </label>
        <div class="col-md-2">
                <select name="rombelOptions" rsf:id="rombel" id="rombel">
                    <option value="A/2017">A/2017</option>	
                    <option value="B/2017">B/2017</option>
                </select>
        </div>
        
        <label for="rombel-selection" class="col-md-4 col-lg-2 form-control-label">
                    <span rsf:id="msg=program_studi">program study</span>
        </label>
        <div class="col-md-2">
                <select name="programStudiOptions" rsf:id="program-studi" id="programStudi">
                    <option value="D3">D3</option>	
                    <option value="D4">D4</option>
                </select>
        </div>
        <input type="submit" value="search" rsf:id="search-dosen" class="active" />      
    </div>
</form>

<table id="sortableTable" class="listHier lines nolines table table-responsive table-bordered table-striped table-hover" border="0" cellspacing="0">
  <thead>
    <tr>
      <!--<th><a rsf:id="no-title" title="Sort by Question" href="#">No</a></th>-->
      <th><a rsf:id="kodeDosen-title" title="Sort by Question" href="#">Kode Dosen</a></th>
      <th><a rsf:id="namaDosen-title" title="Sort by Question" href="#">Nama Dosen</a></th>
      <th><a rsf:id="matkul-title" title=" Sort by Opening Date" href="#">Mata Kuliah</a></th>
    </tr>
  </thead>
  <tbody id="tasks:dosenlist:tbody_element">

    <tr rsf:id="dosen-row:">
      <td rsf:id="dosenList-kd">001</td>
      <td rsf:id="dosenList-nama">dosen 1</td>
      <td rsf:id="dosenList-matkul">matkul 1</td>
    </tr>
      
  </tbody>
</table>

</div>
</body>
</html>