<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="polls-html" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>Polls: Add/edit a poll</title>
<link rsf:id="scr=portal-matter"
	href="https:https://vula.uct.ac.za/library/skin/tool_base.css"
	type="text/css" rel="stylesheet" media="all" />
<link href="https://vula.uct.ac.za/library/skin/default/tool.css"
	type="text/css" rel="stylesheet" media="all" rsf:id="scr=portal-matter" />
<script rsf:id="scr=portal-matter" type="text/javascript"
	language="JavaScript" src="/library/js/headscripts.js"></script>
	<script type="text/javascript">includeLatestJQuery('polls');</script>
	<link href="/library/webjars/jquery-ui/1.12.1/jquery-ui.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/library/js/lang-datepicker/lang-datepicker.js"></script>

	<script type="text/javascript">
		$( document ).ready(function() {
			localDatePicker({
				input:'#opendate',
				useTime:1,
				parseFormat: 'YYYY-MM-DD HH:mm:ss',
				getval: '#openDate-iso8601',
				ashidden: { iso8601: 'openDate-iso8601' }
			});

			localDatePicker({
				input:'#closedate',
				useTime:1,
				parseFormat: 'YYYY-MM-DD HH:mm:ss',
				getval: '#closeDate-iso8601',
				ashidden: { iso8601: 'closeDate-iso8601' }
			});
		});
	</script>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody container-fluid">
          <h3 rsf:id="mahasiswa_new_title">Input Mahasiswa</h3>
          <div rsf:id="message-for:*">
                <span>Message for user here</span>
          </div>
        
        <form rsf:id="add-mahasiswa-form">
            <div class="form-group row"> 
                <label for="mahasiswaNim" class="col-md-4 col-lg-2 form-control-label">
                    <span class="reqStarInline">*</span>
                    <span rsf:id="nim-mahasiswa-label">Nim</span>
                </label>
                <div class="col-md-2">
                    <input name="nim" type="text" size="50" rsf:id="nim-mahasiswa-text" id="mahasiswaNim" />
                </div>
            </div>
            
            <div class="form-group row"> 
                <label for="mahasiswaName" class="col-md-4 col-lg-2 form-control-label">
                    <span class="reqStarInline">*</span>
                    <span rsf:id="nama-mahasiswa-label">Nama</span>
                </label>
                <div class="col-md-2">
                    <input name="nama" type="text" size="50" rsf:id="nama-mahasiswa-text" id="mahasiswaName" />
                </div>
            </div>
    
            <p class="act">
<input type="submit" value="Post"
                    rsf:id="submit-new-mahasiswa" class="active" />
                <input name="_cancel"
                    type="submit" value="Cancel" rsf:id="cancel" />
            </p>
</form>
          
    <!-- menampilkan data -->
    <ul>
        <li rsf:id="list-example:">
            <span rsf:id="name_example">An Item </span>
            <span rsf:id="text_example">An Item</span>
        </li>
    </ul>
        
</div>
</body>
</html>
