<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="produk-html" xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head >
<title>List Fucking Dosen</title>
<link rsf:id="scr=portal-matter" href="https://vula.uct.ac.za/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link href="https://vula.uct.ac.za/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" rsf:id="scr=portal-matter" />
<script  rsf:id="scr=portal-matter" type="text/javascript" src="/library/js/headscripts.js"></script>
<script type="text/javascript">includeLatestJQuery('glossary');</script>
<script type="text/javascript">includeWebjarLibrary('jquery.tablesorter');</script>
<script type="text/javascript" src="../js/glossary.js"></script>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody">
    
    <h3 rsf:id="inputProduk-title">Input Produk</h3>
    
    <form rsf:id="input-produk-form"> 
        <div class="form-group row"> 
            <label for="rombel-selection" class="col-md-4 col-lg-2 form-control-label"> 
                <span rsf:id="jenis-produk-title">jenis produk</span> 
            </label> 
            <div class="col-md-2"> 
                <select name="jenisProdukOptions" rsf:id="jenis-produk" id="jenis-produk"> 
                    <option value="Elektronik">Elektronik</option>	 
                    <option value="Non Elektronik">Non Elektronik</option> 
                </select> 
            </div>
        </div>
        
       <div class="form-group row"> 
            <label for="PName" class="col-md-4 col-lg-2 form-control-label">
                    <!--<span class="reqStarInline">*</span>-->
                    <span rsf:id="input-nama-label">Nama</span>
            </label>
            <div class="col-md-2">
                    <!--<input name="namaP" type="text" size="50" rsf:id="nama-produk-text" id="PName" />-->
            </div>
       </div>
        
        <div class="form-group row"> 
            <label for="PHarga" class="col-md-4 col-lg-2 form-control-label">
                    <!--<span class="reqStarInline">*</span>-->
                    <span rsf:id="harga-produk-label">Harga Produk</span>
            </label>
            <div class="col-md-2">
                    <!--<input name="Question" type="text" size="50" rsf:id="harga-produk-text" id="PHarga" />-->
            </div>
       </div>        
        
        <div class="form-group row"> 
            <label for="stok" class="col-md-4 col-lg-2 form-control-label"> 
                <span rsf:id="stok-produk-title">Stok produk</span> 
            </label> 
            <div class="col-md-2"> 
                <select name="jumlahbarangOptions" rsf:id="jumlah-barang" id="stok"> 
                    <option value="1">1</option>	 
                    <option value="2">2</option> 
                    <option value="3">3</option> 
                </select> 
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2"> 
                <input type="submit" value="search" rsf:id="input-produk" class="active" />       
            </div>
        </div>
        
    </form>
    
    <hr></hr>
<h3 rsf:id="dataProduk-title">Data Produk</h3>

<table id="sortableTable" class="listHier lines nolines table table-responsive table-bordered table-striped table-hover" border="0" cellspacing="0">
  <thead>
    <tr>
      <!--<th><a rsf:id="no-title" title="Sort by Question" href="#">No</a></th>-->
      <th><a rsf:id="kodeProduk-title" title="Sort by Question" href="#">Kode Produk</a></th>
      <th><a rsf:id="jenisProduk-title" title="Sort by Question" href="#">Jenis Produk</a></th>
      <th><a rsf:id="namaProduk-title" title=" Sort by Opening Date" href="#">Nama Produk</a></th>
      <th><a rsf:id="hargaProduk-title" title=" Sort by Opening Date" href="#">Harga Produk</a></th>
      <th><a rsf:id="jumlahStok-title" title=" Sort by Opening Date" href="#">Jumlah Stok</a></th>
    </tr>
  </thead>
<!--  <tbody id="tasks:dosenlist:tbody_element">

    <tr rsf:id="dosen-row:">
      <td rsf:id="dosenList-kd">001</td>
      <td rsf:id="dosenList-nama">dosen 1</td>
      <td rsf:id="dosenList-matkul">matkul 1</td>
    </tr>
      
  </tbody>-->
</table>

</div>
</body>
</html>