<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="polls-html" xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head >
<title>Polls</title>
<link rsf:id="scr=portal-matter" href="https://vula.uct.ac.za/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link href="https://vula.uct.ac.za/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" rsf:id="scr=portal-matter" />
<script  rsf:id="scr=portal-matter" type="text/javascript" src="/library/js/headscripts.js"></script>
<script type="text/javascript">includeLatestJQuery('polls');</script>
<script type="text/javascript">includeWebjarLibrary('jquery.tablesorter');</script>
<script type="text/javascript" src="../js/polls.js"></script>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody">

<h3 rsf:id="poll-list-title">Polls</h3>
    
<ul rsf:id="actions:" class="navIntraTool">
  <li><span><a href="voteAdd.html" rsf:id="actions-penjualan">Penjualan</a></span></li>
  <li><span><a href="voteAdd.html" rsf:id="actions-produk">Produk</a></span></li>
  <li><span><a href="voteAdd.html" rsf:id="actions-customer">Customer</a></span></li>
  <li><span><a href="voteAdd.html" rsf:id="actions-penjualan">Jenis Produk</a></span></li>
</ul>

<h3 rsf:id="input-penjualan-title">Input Penjualan</h3>

<div rsf:id="message-for:*" class="alertMessage">
	<span>Message for user here</span>
</div>
<div class="instruction" rsf:id="no-polls">No polls have been created yet.</div>
<div class="addItem" rsf:id="add-poll-icon">
	<a href="voteAdd.html" rsf:id="add-poll">Add</a>
</div>

<div rsf:id="poll_list_remove_confirm" id="poll_list_remove_confirm"></div>
<div rsf:id="poll_list_reset_confirm" id="poll_list_reset_confirm"></div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#remove-all').change(function () {

            var isChecked = $(this).is(':checked');
            $('.checkbox-cell input').prop('checked', isChecked);
            $('#delete-polls').prop('disabled', !isChecked);
            $('#reset-polls-votes').prop('disabled', !isChecked);
        });

        $('.checkbox-cell input').change(function () {

            var someChecked = $('.checkbox-cell input:checked').length;
            $('#delete-polls').prop('disabled', !someChecked);
            $('#reset-polls-votes').prop('disabled', !someChecked);

            if (!someChecked) {
                $('#remove-all').prop('checked', false);
            }
         });

         $('#delete-polls').click(function () {

             var removeMessage = $('#poll_list_remove_confirm').text();
             return confirm(removeMessage);
             });

         $('#reset-polls-votes').click(function () {

             var resetMessage = $('#poll_list_reset_confirm').text();
             return confirm(resetMessage);
         });
	});
</script>

<form rsf:id="input-penjualan-form"> 
        <div class="form-group row"> 
            <label for="rombel-selection" class="col-md-4 col-lg-2 form-control-label"> 
                <span rsf:id="input-nama-title">Nama :</span> 
            </label> 
            <div class="col-md-2"> 
                <select name="namaOptions" rsf:id="nama-penjual" id="nama-penjual"> 
                    <option value="Mazid Ahmad">Mazid Ahmad</option>	 
                    <option value="Kiki Pratiwi">Kiki Pratiwi</option> 
                </select> 
            </div>
        </div>
        <div class="form-group row">
            <label for="jenisproduk-selection" class="col-md-4 col-lg-2 form-control-label"> 
                <span rsf:id="input-jenisproduk-title">Jenis Produk :</span> 
            </label> 
            <div class="col-md-2"> 
                <select name="jenisProdukOptions" rsf:id="jenis-produk" id="jenisProduk"> 
                    <option value="Electronic">Electronic</option>	 
                    <option value="Home Appliance">Home Appliance</option> 
                </select> 
            </div> 
        </div>
        <div class="form-group row"> 
            <label for="rombel-selection" class="col-md-4 col-lg-2 form-control-label"> 
                <span rsf:id="input-namaproduk-title">Nama Produk :</span> 
            </label> 
            <div class="col-md-2"> 
                <select name="namaprodukOptions" rsf:id="nama-produk" id="nama-produk"> 
                    <option value="Asus Zenbook 15">Asus Zenbook 15</option>	 
                    <option value="Acer Predator 5">Acer Predator 5</option> 
                    <option value="Macbook Pro 15">Macbook Pro 15</option>	 
                </select> 
            </div> 
        </div>
        <div class="form-group row"> 
            <label for="tahun_akademik-selection" class="col-md-4 col-lg-2 form-control-label"> 
                <span rsf:id="jumlah-barang-title">Jumlah Barang</span> 
            </label> 
            <div class="col-md-2"> 
                <select name="jumlahbarangOptions" rsf:id="jumlah-barang" id="jumlahBarang"> 
                    <option value="1">1</option>	 
                    <option value="2">2</option> 
                    <option value="3">3</option> 
                </select> 
            </div>
        </div>
        <div class="form-group row"> 
            <div class="col-md-2"> 
                <label for="tahun_akademik-selection" class="col-md-4 col-lg-2 form-control-label"> 
                    <span rsf:id="total-biaya-title">Total Biaya</span> 
                </label> 
                <!--<input type="text" name="jumlah" value="12.000.000" rsf:id="jumlah-total" readonly/>-->
            </div> 
        </div>
        <div class="form-group row">
            <div class="col-md-2"> 
                <input type="submit" value="search" rsf:id="input-penjualan-barang" class="active" />       
            </div>
        </div> 
    </form>
</div>
</body>
</html>
